.summary {
    color: #4A4A4A;
    border-left: 5px solid #AA5D00;
    font-size:16px;
}


h3 {color: #AA5D00; }
h4 {color: #4A4A4A; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: #000029;
}

/* Color for active sidebar */
.nav > li.active > a {
    background-color: #FD6C1B;
    color: #000029;
}

/* Color for hovering over sidebar */
.nav > li > a:hover {
    background-color: #FD6C1B;
    color: #000029;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #FD6C1B;
    color: #000029;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: #000036;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #000029;
}

.nav li.thirdlevel > a {
    background-color: #575757 !important;
    color: #FD6C1B;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #FD6C1B;
    border-color: #B66410;
    color: #000036;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #B66410;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #B66410;
    color: #000036;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #FD6C1B !important;
}

.btn-primary {
    color: #000036;
    background-color: #B66410;
    border-color: #B66410;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #FD6C1B;
    border-color: #B66410;
    color: #000036;
}

.printTitle {
    color: #B66410 !important;
}

body.print h1 {color: #B66410 !important; font-size:28px;}
body.print h2 {color: #4A4A4A !important; font-size:24px;}
body.print h3 {color: #AA5D00 !important; font-size:14px;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic;}

.anchorjs-link:hover {
    color: #98530E;
}

div.sidebarTitle {
    color: #AA5D00;
}

li.sidebarTitle {
    margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #AA5D00;
    margin-bottom:10px;
    margin-left: 5px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #AA5D00;
}
