.summary {
    color: #808080;
    border-left: 5px solid #DFDA2D;
    font-size:16px;
}

/* h3 is the summary color. */
h3 {color: #DFDA2D; }
/* Dark gray hover color */
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    /* Hover light blue color */
    color: black;
/* Color: is the one for the nav tab being off */
}

.nav > li.active > a {
    background-color: #FFF933;
    /* Standard header color */
}

.nav > li > a:hover {
    /* FFF933*/
    background-color: #248ec2;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #FFF933;
}


.nav li.thirdlevel > a {
    background-color: #6D6B6B !important;
/* background looks like the nav level backgrd grayish */
    color: #FFF933;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #FFF933;
    border-color: #BFBB26;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #9c9c9c;
/* nav tag when you hover */
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #BFBB26;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #BFBB26;
    color: #909090;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #FFF933 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #BFBB26;
    border-color: #BFBB26;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #BFBB26;
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #FFF933;
    border-color: #BFBB26;
}

.printTitle {
    color: #BFBB26 !important;
}

body.print h1 {color: #BFBB26 !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:24px !important;}
body.print h3 {color: #DFDA2D !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic;}

.anchorjs-link:hover {
    color: #9F9C20;
}

div.sidebarTitle {
    color: #DFDA2D;
}

li.sidebarTitle {
    margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #ED1951;
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #DFDA2D;
}

.navbar-inverse .navbar-toggle {
    border-color: #DFDA2D;
}
