.summary {
    color: #4A4A4A;
    border-left: 5px solid #EC52A5;
    font-size:16px;
}


h3 {color: #EC52A5; }
h4 {color: #4A4A4A; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #9F0068;
    color: black;
}

/* Color for active sidebar */
.nav > li.active > a {
    background-color: #FF00A6;
    color: black;
}

/* Color for hovering over sidebar */
.nav > li > a:hover {
    background-color: #9F0068;
    color: white;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #FF00A6;
    color: #000000;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #9F0068;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #FF00A6;
    border-color: #800053;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
    color: black;
}

a.navbar-brand:hover {
    color: black;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #800053;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #800053;
    color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #9F0068 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #FF00A6;
    border-color: #FF00A6;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #FF00A6;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #9F0068;
    border-color: #FF00A6;
}

.printTitle {
    color: #800053 !important;
}

body.print h1 {color: #800053 !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #E50E51 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #800053;
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #EC52A5;
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #800053;
}

.navbar-inverse .navbar-toggle {
    border-color: #800053;
}
